main{
    margin-bottom: 100px;
}

.container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    background-color: rgb(201, 200, 200);
    padding: 50px 20px 40px;
    max-width: 900px;
    width: 100%;
    border-radius: 10px;
    font-size: 20px;
    font-family: Helvetica;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.vendedor {
    height: 40px;
    width: 40px;
    display: flex;
}

.col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
}

.col-md-8 {
    flex: 0 0 calc(100% - 20px);
    /* Ajuste para compensar o grid-gap */
    max-width: calc(100% - 20px);
    /* Ajuste para compensar o grid-gap */
}

.foto {
    margin-bottom: 20px;
}

#avaliacao {
    font-size: 18px;
    margin-left: 10px;
}

#nome-vendedor {
    display: inline;
    font-size: 18px;
    margin-left: 10px;
}

#imagem-vendedor {
    border-radius: 50%;

}

#Imagem-capa {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#botaoChat {
    display: block;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #1c0d3d;
    color: white;
    text-decoration: none;
    width: fit-content;
}

button:hover,
#botaoChat:hover {
    background-color: #3d2b8c;
    transition: 450ms;
}

#botao-voltar {
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #1c0d3d;
    color: white;
    text-decoration: none;
    width: fit-content;
}

#botao-voltar:hover {
    background-color: #3d2b8c;
    transition: 450ms;
}

footer {
    position: fixed;
}

.container p {
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 450px;
}

/* Estilos adicionais para responsividade */
@media (max-width: 987px) {
    #texto-header {
        font-size: 40px; /* Tamanho de fonte menor para dispositivos menores */
    }
    .img-header {
        max-height: 70px; /* Reduzir o tamanho máximo do logotipo */
    }
}
@media (max-width: 480px) {
    #texto-header {
        font-size: 30px; /* Tamanho de fonte menor para dispositivos menores */
    }
    .img-header {
        max-height: 70px; /* Reduzir o tamanho máximo do logotipo */
    }
}

