<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    <link rel="stylesheet" href="/Assets/Css/stylechat.css">
    <title>Chat | BookTrade</title>
</head>
<body>
    <header>
        <div>
            <a href="../index.html"><img src="/Assets/Img/Logo.png" alt="logo da loja" id="logo-principal"></a>
        </div>
        <div id="nome-site">
            <strong>Booktrade</strong> 
        </div>
        <div id="boxLogin">   
        </div>
    </header>
    <section class="container">

        <section class="login">
            <h2>Chat BookTrade</h2>
            <form class="login__form">
                <button type="submit" class="login__button">Entrar</button>
            </form>
        </section>
        </section>
        <main>

                <section class="chat">
            <section class="chat__messages">
            </section>
            <form class="chat__form">
                <div id="funcionar"><input type="text" class="chat__input" placeholder="Digite uma mensagem" required />
                <button type="submit" class="chat__button">
                    <span class="material-symbols-outlined">send</span>
                </button></div>
                <div id="nada"><button class="finalizar">Finzalizar</button></div>
            </form>
            </section>

        </main>
        <footer>

        
    <p>© Copyright 2024</p>
    
</footer>
    

    <script src="/Assets/Scripts/chat.js"></script>
</body>

</html>

