<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookTrade</title>
    <link rel="stylesheet" href="/Assets/Css/sobre-nos.css">
    <link rel="icon" href="/Assets/img/iconeAzul.png" type="image/x-icon">
    <script src="../Assets/Scripts/sobre-nos.js"></script>
</head>
<body>
    <header>
        <div>
            <a href="../index.html"><img src="/Assets/Img/Logo.png" alt="logo da loja" id="logo-principal"></a>
        </div>
        <div id="nome-site">
            <strong>Booktrade</strong> 
        </div>
        <div id="boxLogin">
            
        </div>
    </header>
    <article>
        <section>
            <div class="todos">
                <div class="imagem-dos-paticipantes">
                    <img src="/Assets/img/Marcos.jpg" alt="Foto de Marcos">
                </div>
                <div class="informacoes-dos-paticipantes">
                    <p><strong>Nome:</strong> Marcos Antunes</p>
                    <p><strong>Idade:</strong> 18 anos</p>
                    <p><strong>Função:</strong> Desenvolvedor Front-end</p>
                </div>
            </div>

            <div class="todos">
                <div class="imagem-dos-paticipantes">
                    <img src="/Assets/img/Diogo.png" alt="Foto de Diogo">
                </div>
                <div class="informacoes-dos-paticipantes">
                    <p><strong>Nome:</strong> Diogo Henrique</p>
                    <p><strong>Idade:</strong> 22 anos</p>
                    <p><strong>Função:</strong> Desenvolvedor Front-end</p>
                </div>
            </div>
        </section>
        <section>
            <div class="todos">
                <div class="imagem-dos-paticipantes">
                    <img src="/Assets/img/Arthur.png" alt="Foto de Arthur">
                </div>
                <div class="informacoes-dos-paticipantes">
                    <p><strong>Nome:</strong> Arthur</p>
                    <p><strong>Idade:</strong> 21 anos</p>
                    <p><strong>Função:</strong> Desenvolvedor Front-end</p>
                </div>
            </div>

            <div class="todos">
                <div class="imagem-dos-paticipantes">
                    <img src="/Assets/img/Enzo.png" alt="Foto de Enzo">
                </div>
                <div class="informacoes-dos-paticipantes">
                    <p><strong>Nome:</strong> Enzo</p>
                    <p><strong>Idade:</strong> 18 anos</p>
                    <p><strong>Função:</strong> Desenvolvedor Front-end</p>
                </div>
            </div>
        </section>
        <section>
            <div class="todos">
                <div class="imagem-dos-paticipantes">
                    <img src="/Assets/img/Rafael.png" alt="Foto de Rafael">
                </div>
                <div class="informacoes-dos-paticipantes">
                    <p><strong>Nome:</strong> Rafael</p>
                    <p><strong>Idade:</strong> 18 anos</p>
                    <p><strong>Função:</strong> Desenvolvedor Front-end</p>
                </div>
            </div>

            <div class="todos">
                <div class="imagem-dos-paticipantes">
                    <img src="/Assets/img/User-Icon.png" alt="Foto de Pedro">
                </div>
                <div class="informacoes-dos-paticipantes">
                    <p><strong>Nome:</strong> Pedro</p>
                    <p><strong>Idade:</strong> 19 anos</p>
                    <p><strong>Função:</strong> Desenvolvedor Front-end</p>
                </div>
            </div>
        </section>
    </article>

    <footer>
        <p>© Copyright 2024</p>
    </footer>
</body>
</html>